body {
  background: #2b2935;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;

  padding: 0 120px;
}

.filters {
  align-self: flex-end;
  margin-bottom: 20px;
}

.userTable {
  border-spacing: 0;
  text-align: left;
}

.userTable thead tr th {
  padding: 10px;
}

.userTable tbody tr:nth-child(odd) {
  background: #524d61;
}

.userTable tbody tr td {
  padding: 20px 10px;
}

.userTable tbody tr td:nth-child(1),
.userTable tbody tr td:nth-child(5) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userTable tbody tr td img {
  border-radius: 100px;
  width: 38px;
}

.userTable tbody tr td .div-blue {
  height: 38px;
  width: 38px;
  border-radius: 100px;
  background: #70a5d7;
}

.userTable tbody tr td .div-brown {
  height: 38px;
  width: 38px;
  border-radius: 100px;
  background: #7f5539;
}

.userTable tbody tr td .div-green {
  height: 38px;
  width: 38px;
  border-radius: 100px;
  background: #477048;
}
